@import "../var/mixins-variables-functions";

#about {
  height: auto !important;
  overflow: hidden;
  .about-first-container {
    height: clamp(50vh, 50vh, 60vh);
    @include dfc;
    justify-content: center;

    .about-first-container-left {
      width: 30%;
      .about-pollos-logo {
        pointer-events: none !important;
        user-select: none !important;
        margin-left: 5rem;
        width: 70%;
      }
    }

    .about-first-container-right {
      color: $secondary;
      width: 60%;
      h4 {
        margin: 1rem;
        font-weight: 400;
        font-family: Montserrat;
      }

      h3 {
        margin: 1rem;
        text-transform: capitalize;
        font-weight: 600 !important;
        letter-spacing: 2.5px;
      }

      p {
        margin: 1rem;
        font-weight: 500;
        font-family: Montserrat;
        line-height: 30px;
        letter-spacing: 1.4px;
      }
    }
  }

  .about-second-container {
    margin-top: 1rem;
    width: 100%;
    @include dfc;
    height: 90vh;
    @include color-combo2;

    .about-second-container-left {
      @include color-combo1;
      width: 40%;
      height: 92%;
      overflow: hidden;

      .gus {
        width: 130%;
        height: 100%;
        margin-left: -8rem;
      }
    }

    .about-second-container-right {
      width: 55%;

      @include dfc;
      align-items: flex-start;
      margin: -10rem 0 0 3rem;
      gap: 4rem;
      flex-direction: column;

      .welcome {
        font-size: 10rem;
        letter-spacing: 6px;
      }

      p {
        letter-spacing: 2px;
        position: relative;
        font-family: Montserrat !important;
        padding: 0 0 5rem 0;

        b {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #about {
    flex-direction: row;
    height: clamp(50vh, 60vh, 70vh);
    .about-first-container {
      height: 10rem !important;
      @include color-combo2;
      .about-first-container-left {
        width: 20%;
        .about-pollos-logo {
          margin-left: 1rem !important;
          width: 8rem !important;
        }
      }
      .about-first-container-right {
        color: $primary;
        width: 70%;
        p {
          display: none !important;
        }
        h4 {
          display: none !important;
        }
        h3 {
          margin: 0 !important;
        }
      }
    }
    .about-second-container {
      height: 40vh;
      width: 100%;
      .about-second-container-left {
        display: none !important;
        .gus {
          display: none !important;
        }
      }
      .about-second-container-right {
        width: 90%;
        align-items: center;
        margin: 0 !important;
      }
    }
  }
}
