@import "../var/mixins-variables-functions";

#footer {
  height: 100vh;
  @include dfc;
  flex-direction: column;
  .footer-logo {
    height: 45%;
    width: 100%;
    margin-bottom: -3.5 rem;
  }
  .footer-container {
    position: relative;
    gap: 3rem;
    @include dfc;
    flex-direction: column;
    @include color-combo2;
    height: 65%;
    width: 100%;
    h2 {
      text-transform: uppercase;
    }
    .social-links {
      @include dfc;
      gap: 2rem;
      .social-item {
        list-style-type: none !important;
        .social-link {
          .social-icon {
            width: 5rem;
          }
        }
      }
    }
    .project-description {
      text-align: center;
      font-family: Montserrat;
      font-weight: 500;
      width: 75%;
      line-height: 3rem;
    }
    .copyright-notice {
      font-family: Montserrat;
      font-size: 13px;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  #footer {
    height: 60vh;
    .footer-logo {
      height: 25%;
      width: 100%;
    }
    .footer-container {
      .project-description {
        width: 90%;
      }
    }
  }
}

.popUp {
  width: 15rem;
  height: 4rem;
  background: black;
  font-family: Montserrat;
  font-size: 150%;
  color: #fff;
  text-transform: capitalize;
  @include dfc;
  position: fixed;
  right: 3rem;
  bottom: 10rem;
  z-index: 99;
  transition: all 500ms ease;
  border-radius: 0.3rem;
  transform: translateX(200%);
}
.loading-popup {
  @include dfc;
  flex-direction: column;
  height: 40vh;
  gap: 2rem;
  width: 60vw;
  @include color-combo1;
  font-weight: 600;
  @include align-center-abs;
  position: fixed !important;
  font-size: 200%;
  font-family: Montserrat;
  border-radius: 0.5rem;
  transition: all 300ms ease;
  .spinner {
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid $secondary;
    border-left: 3px solid transparent;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
